<header id="container_header">
  <div id="containerLogo"> <img id="img_logo" src="assets/images/logo_transparent.png"></div>
  <div id="containerNavBar">
  <nav id="navbar">
    <ul class="navbarItens">
        <li><a id="menuLink" href="#">Home</a></li>
        <li><a id="menuLink"  href="#">Quem Somos</a></li>
        <li><a id="menuLink" href="#">Colabore</a></li>
        <li><a id="menuLink" href="#">Contato</a></li>
        <li><a id="menuLink" href="#">Jurídico</a></li>
    </ul>
  </nav>
  </div>
</header>
