
@import "../../styles.scss";
*{
  font-family: var(--primary-font);
  font-weight: 300;
}

#container_header{
  width: 100vw;
  height: 20vh;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 3% ;
  color: var(--text-color-primary-2);

  background-color: var( --color-bg-white-2);
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(4, 150, 235, 0.2) 0px 7px 29px 0px;
  position: fixed;
  z-index: 1000;
  top:0;
  @media screen and (max-width: 768px) {
    // gap: 15px;
    padding: 0 1% ;
    height: 13vh;
  }
  @media screen and (max-width: 1024px) {
    gap: 35px;
    padding: 0 2% ;
    height: 15vh;
  }
}

#containerLogo {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    width:200px;
  }
  @media screen and (max-width: 768px) {
    width: 180px;
  }
  #img_logo{
    width: 300px;
    @media screen and (max-width: 1024px) {
      width:200px;
    }
    @media  screen and (max-width:768px) {
      width: 200px;
    }
  }
}

#containerNavBar{
  padding: 4% 0% 0% 0%;
  display: flex;
  gap: 10px;
  text-decoration: none;
  @media screen and (max-width: 1024px) {
    padding: 4% 0% 0% 4%;
    gap: 9px;
    width: 600px;
  }
  @media  screen and (max-width:768px) {
    gap: 10px
  }
  #menuLink{
    color: var(--text-color-primary-1);
    text-align: center;
    text-decoration: none;
    @media screen and (max-width: 1024px) {}
    @media  screen and (max-width:768px) {}
    .menuLinkA{
      font-size: 1.2rem;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
        font-weight: 400;
      }
      @media  screen and (max-width:768px) {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }

  #menuLink:hover {
    color: var(--logo-color-blue-light);
    #navbar{
      width: 720px;
    }
  }
}

 #containerIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
    padding-left: 40px;
    @media screen and (max-width: 1024px) {
      gap:15px;
      padding-left: 0px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 5px;
      position: fixed;
      top: 250px;
      right: 30px;
    }
    svg{
      width: 80px;
      @media screen and (max-width: 1024px) {
        width: 60px;
      }
      @media screen and (max-width: 768px) {
        width: 55px;
      }
    }

    #imgIcon{
      width: 60px;
      height: 60px;
      @media screen and (max-width:1024px) {
        width: 50px;
        height: 50px;
      }
      @media screen and (max-width:768px) {
        width: 30px;
        height: 30px;
      }
    }

  }


  #bgIcon{

    fill: var(--logo-color-blue-light);
    @media screen and (max-width:768px) {  }
  }

