
@import "../../styles.scss";
*{
  font-family: var(--primary-font);
  font-weight: 300;

}
#container_header{
  display: flex;
  justify-content:center;
  align-items: center;
  color: var(--text-color-primary-2);
  background-color: var(--color-bg-white);
  position: fixed;
  z-index: 1000;
  // background-color: var(--logo-color-violet-2);
  background-color: #2f5ada;
  background-color: #4163d2;

}
#containerLogo {
  width: 40%;
  #img_logo{
    width: 100%;
    padding-left: 3%;
  }
}

#containerNavBar{
  padding-right: 2%;

#navbar {
  padding-right: 1%;
  width:780px;
  @media screen and (max-width : 1000px) {
    width:500px;
  }
  @media  screen and (max-width:768px) {
    width:400px;
  }
  #navbarItens{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display:inline;
  }
  #menuLink {
    display:inline-flex;
    padding: 1% ;
    text-decoration: none;
    color: var(--color-bg-white);
    font-size: 1.8rem;
    font-weight: 500;
    @media  screen and (max-width:1000px) {
      font-size: 1rem;
    }
    @media  screen and (max-width:768px) {
      font-size: 0.8rem;
    }
}
  #menuLink:hover {
      color: var(--primary-color-blue);
      #navbar{
        width: 720px;
      }

  }


}
}


