
@import "../../styles.scss";
*{
  font-family: var(--primary-font);
  font-weight: 300;
}
#container_header{
  display: flex;
  justify-content:center;
  align-items: center;
  color: var(--text-color-primary-2);
  // position: absolute;

}
#containerLogo {
  width: 40%;
  #img_logo{
    width: 100%;
    padding-left: 3%;
  }
}

#containerNavBar{
  padding-right: 2%;
#navbar {
  padding-right: 1%;
  width:680px;
  #navbarItens{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display:inline;
  }
  #menuLink {
    display:inline-flex;
    padding: 1% ;
    text-decoration: none;
    color: var(--text-color-primary-2);
    font-size: 1.8rem;
}
  #menuLink:hover {
      color: var(--logo-color-blue);
      #navbar{
        width: 720px;
      }

  }


}
}

