<app-header></app-header>

<section id="whoWeAre">
  <h2 class="t1">Quem Somos</h2> <br/>
  <p id="textSintese"> {{textSintese1}} {{textSintese2}} {{textSintese3}} {{textSintese4}}</p>
  <br/>
  <h2 class="t2">Como nasceu o projeto?</h2>
  <div class="containerHistory">
    <div class="containerText">
      <p>{{textHistory1}} <b class="destaque">O AMOR ...</b> </p> <br/>
      <p>{{textHistory2}} </p>
      <p>{{textHistory3}} </p>
      <p>{{textHistory4}} <b class="destaque">PROJETO O AMOR</b></p>
    </div>
    <div class="fotoA">
      <img id="imgA" src="assets/images/fotos/projeto-amor-familia-filho-autista-deice.png" alt="foto-familia-da-mãe-iniciadora-do-projeto-mais-amor">
    </div>
  </div>
  <div class="containerMission">

    <div class="box_card box_mission">
      <h2 class=" card_ mission">Nossa Missão</h2>
      <div class="card_content"><p >{{mission}} </p></div>
    </div>

    <div class="box_card box_vision">
      <h2 class="card_ vision">Nossa Visão</h2>
      <div class="card_content"> <p>{{vision}}</p> </div> <br/>
    </div>

    <div class="box_card box_values">
      <h2 class="card_ values">Nossos Valores</h2>
      <div class="card_content " styles="text-align: start "> <p>{{values}}</p> </div> <br/>
    </div>

  </div>

</section>

<app-footer></app-footer>