@import "../../styles.scss";

#whoWeAre{
  padding: 10% 2% 0 2%;
  @media screen and (max-width: 1024px) {
    padding-top: 19%;
  }
  @media screen and (max-width: 768px) {
    padding-top: 16%;
    padding-right: 70px;
  }
  p{
    line-height: 150%;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    text-align: justify;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  h2{
    color:var(--color-primary-text-2);
    color:var(--logo-color-blue-light);
    font-size: 3rem;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 680px) {
      font-size: 1.1rem;
    }
  }

  #textSintese{
    text-align: justify;
    line-height: 150%;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0%;
    padding: 0% 2%;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  .tab{
    width: 20px;
  }

  .containerHistory{
    display: flex;
    gap:5%;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
    .containerText{
      padding: 2%;
    }
    .destaque{
      color: var(--logo-color-red);
      font-weight: 600;
    }
  }

  .containerMission{
    display: flex;
    flex-direction: row;
    gap: 15px;
    @media screen  and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
    }
   
  }

  .box_card{
    border: 1px solid;
    border-radius: 15px ;
    width: 425px;
    display: flex;
    gap:10px;
    flex-direction: column;
     @media screen  and (max-width: 1024px){
      width: 700px;
    }
     @media screen  and (max-width: 768px){
      width: 500px;
    }
   
    .card_content{
      font-size: 14px;
      margin: 0;
      padding: 5px;
    }
  }
  .box_mission{
    border-color: var(--logo-color-red);
  }
  .box_vision{
    border-color:  var(--logo-color-blue-light) !important;
  }
  .box_values{
    border-color: var(--logo-color-green);
  }
 
  .card_{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
    padding: 5px 0px 5px 0px;
    &.mission{
      background-color: var(--logo-color-red);
      color:var(--logo-color-yellow);
    }
    &.vision{
      background-color: var(--logo-color-blue-light);
      color:var(--color-bg-white);
    }
    &.values{
      background-color: var(--logo-color-green);
      color:var(--logo-color-red);
      border-color: var(--logo-color-green);
    }
    
  }
  

    .fotoA{
      border-radius: 15px;
      display:flex;
      justify-content: center;
      align-items: center;
       #imgA{
        border-radius: 20px;
        box-shadow: 10px var(--logo-color-yellow);
        @media screen and (max-width: 1024px) {
          width:70%;
          height: auto;
        }
        @media screen and (max-width: 768px) {
          width: 90%;
          height: auto;
          margin-bottom: 5%;

        }
    }

    }
   
}

