/* You can add global styles to this file, and also import other style files */
:root{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
}
$primary-color-blue:#1E90FF;
$logo-color-yellow:#FFFF00;
$logo-color-violet_:#8A2BE2;
$logo-color-violet:#9400d3;
$logo-color-blue:#392EFF;
$logo-color-green_:#07e007;
$logo-color-green:#1FE01F;
$logo-color-red:red;

$text-color-primary:#211F1F;




