
 <app-header></app-header>

 <main id="containerMain">
  <div id="centre">

  <div id="carouselExample" class="carousel slide containerCarousel" data-ride="carousel">
    <div class="carousel-inner containerCarousel">
      <div class="carousel-item active imgCarousel img1">
        <img src="assets/images/fotos/projeto-amor-crianca-autista-feliz.png" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item imgCarousel img2">
        <img src="assets/images/fotos/projeto-amor-familia-filho-autista-deice.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item imgCarousel img3">
        <img src="assets/images/fotos/projeto-amor-familia-filho-autista-feliz.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item imgCarousel img4">
        <img src="assets/images/fotos/projeto-amor-grupo-de-maes-autista-pcd-.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<section id="containerSintese">
  <h2>Criado para acolher, orientar e conscientizar famílias de pessoas com
    deficiências sobre seus direitos.<br>Mostrar que é possivel sair do luto do laudo à luta por direitos e resgatar
    sentimentos de +AMOR.
  </h2>
</section>



  <section id="containerIcons">
    <a >
      <!-- <img id="img_logo_donation" src="assets/images/help.png" alt="donation-of-funds"> -->
      <img id="imgIcon" src="assets/images/linkedin.png" alt="">
    </a>
    <a >
      <!-- <img id="img_logo_donation" src="assets/images/contato-3.png" alt="donation-of-funds"> -->
      <img id="imgIcon" src="assets/images/whatsapp-blue.png " alt="">
    </a>
    <a >
      <!-- <img id="img_logo_donation" src="assets/images/contato-2.png" alt="donation-of-funds"> -->
      <img id="imgIcon"src="assets/images/instagram-blue.png" alt="">
    </a>
  </section>

  </div>

  <!-- <app-who-we-are></app-who-we-are> -->


 </main>

<footer></footer>
