
 <app-header></app-header>

 <main id="containerMain">

  <h1>Promovendo Amor e Inclusão para todos</h1>
    <img >


  <section id="containerDestaque">

    <div id="containerLogoMain">
      <img id="img_logo_main" src="assets/images/logo_transparent.png" alt="logo-projeto-mais-amor-Araras">
    </div>
  </section>

  <section id="containerContatos">
    <div id="donation">
      <img id="img_logo_donation" src="assets/images/help.png" alt="donation-of-funds">
    </div>
    <div id="donation">
      <img id="img_logo_donation" src="assets/images/contato-3.png" alt="donation-of-funds">
    </div>
    <!-- <div id="donation">
      <img id="img_logo_donation" src="assets/images/contato-2.png" alt="donation-of-funds">
    </div> -->

  </section>

  <section id="containerNossaHistoria">
    <h2>Quem Somos</h2>
    <h3 id="textSintese"> {{textSintese}} </h3>
  </section>

 </main>

<footer></footer>
