
<section id="containerHome">



  <!-- <img  class="imgBackground" src="assets/images/fotos/projeto-amor-familia-filho-autista-feliz.jpeg" > -->

  <div id="containerMain">
    <section id="containerSintese">
      <!-- <h1>Transformando Desafios em Oportunidades e Direitos</h1> -->
      <p>
        Acreditamos que cada desafio enfrentado por crianças com deficiência é uma oportunidade para conquistar direitos e construir um futuro mais justo.<br> Apoiar as famílias, orientá-las à conhecer e reivindicar os direitos de seus filhos, faz parte da nossa missão.<br>
      </p>
    </section>
  </div>

  <app-footer />
</section>

